@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.frame {
    border: 4px solid rgba(127, 177, 61, 0.856);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 90vh;
    width: 155vh;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

.inread {
    border: none;
    border-bottom: 2px solid #7394545e;
    color: white;
    padding: 5px 10px;
    left: 30%;
    width: 100vh;
    background-color: transparent;
}

.button {
    background-color: rgb(127, 177, 61);
    display: box;
    position: relative;
    left: 5%;
    border: none;
    color: rgb(61, 58, 58);
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

    .button:hover {
        background-color: #fff;
    }

.lbrun {
    animation: move 20s infinite;
    position: relative;
    color: rgb(9, 151, 127);
    font-weight: bold;
}

#div1 {
    animation-timing-function: ease-in-out;
}

@keyframes move {
    from {
        left: 0%;
    }

    to {
        left: 85%;
    }
}

/*div.chartWrapper {
    position: relative;
    overflow: auto;
    width: 100%;
}

div.chartContainer {
    position: relative;
    height: 300px;
}*/
.chart-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
}

.buttonwrapper {
    text-align: center;
}

#format {
    text-indent: 8px;
    font-weight: 600;
    height: 42px;
    width: 135px;
    letter-spacing: 0.2px;
    line-height: 18px;
    font-family: "Source Sans Pro";
    border: 1px solid rgba(62, 57, 107, 0.13);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
}

    #format:focus {
        outline: none;
    }

.btn-1 {
    height: 40px;
    width: 135px;
    border: 1px solid #6957da;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: #6957da;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    box-shadow: none;
    margin-left: -8px;
}

    .btn-1:hover {
        background: linear-gradient(-270deg, #5b72de 0%, #745ff9 100%);
        color: #fff;
        border: 0;
        outline: none;
    }

    .btn-1:focus {
        box-shadow: inset 0 0px 0px rgba(49, 49, 49, 0.125), 0 0 0 0.2rem rgba(105, 87, 218, 0.5);
        border: 1px solid #6957da;
        outline: none;
        text-decoration: none;
    }

.label-shift-label {
    position: absolute;
    transition: all 0.4s ease;
    background: #fff;
    top: -8px;
    left: 15px;
    color: #9f9fb9;
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 15px;
}

.form-elements {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
