@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.config{
    border: 4px solid rgba(127, 177, 61, 0.856);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:85vh;
    width: 73vh;
    margin-left: 15px;
    margin-right: 15px;
    padding:10px 15px;
  }
.config h1{
    font-size: 50px;
    text-align: center;
    margin-top:2vh;
    color:#4690c4;
  }
.config label{
      float: left;
      margin-left: 10%;
      margin-bottom: 5vh;
      display:flex;
      color:#fff;
  }
.config .name{
    display: block;
    margin-right:5vh;
    width:100px;
    align-items: center;
    justify-content: center;
    font-size:24px;
  }
 .config .mark{
    margin-right:3vh;
    font-weight: 500;
    font-size: 40px;
  }
 .config output{
    border-bottom: 1px solid #7394545e ;
    color: transparent;
    padding:5px 10px;
    width:25vh;
  }
.gridview {
    position: absolute;
    left: 113vh;
    top:110px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 62vh;
    height: 50vh;
}
.grid_scroll {
    overflow: auto; 
    height: 100px;
}
.lbrun {
    animation: move 20s infinite;
    position: relative;
    color: rgb(9, 151, 127);
    font-weight: bold;
}

#div1 {
    animation-timing-function: ease-in-out;
}

@keyframes move {
    from {
        left: 0%;
    }

    to {
        left: 85%;
    }
}
.BtnEvent {
    display: box;
    position: relative;
    border: none;
    margin-right:5px;
    margin-left:10px;
    color: rgb(61, 58, 58);
    padding: 10px;
    font-weight: 700;
    background-color: rgb(127, 177, 61);
    border-radius: 5px;

    display: box;
    position: relative;
    border: none;
    color: rgb(61, 58, 58);
    padding: 10px;
    font-weight: 700;
    background-color: rgb(127, 177, 61);
    border-radius: 5px;
}